.container-orange {
    background: rgba(255, 80, 0, 0.7);
    color: #ffffff;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #f9b434 0%, #FF5000 100%);
    background-image:      -o-linear-gradient(top, #f9b434 0%, #FF5000 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b434), to(#FF5000));
    background-image:         linear-gradient(to bottom, #f9b434 0%, #FF5000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9b434', endColorstr='#FF5000', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
}

.navbar-inverse .navbar-brand {
    color: #000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

#dummy {
    color: #f9b434;
    color: #FF5000;
}